# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.system_generated/

# Dependency directories
node_modules/
dist/
dist-ssr/
*.local

# Environment Variables & Secrets
.env
.env.*
!.env.example

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
